$orangish: #ffd262;
$bluish: #4c8ecc;

.bg-1{
  background: $bluish;
}
.bg-2{
  background: $orangish;
}
.bg-red{
  background: red;
}
.bg-yellow{
  background: yellow;
}
.bg-green{
  background: green;
}