html 
  head
    title= title
    link(rel='stylesheet', href='../css/api.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700')
  body
  div(class="container-fluid h-100")
    header(class='row align-items-center header-style')
        div(class='col-3 col-sm-2 col-md-1 text-right')
          div(class='text-center header-style__logo')
            div(class='header-style__logo__inside bg-2')
            div(class='header-style__logo__inside bg-1')
            div(class='header-style__logo__text')
              h2(class='header-style__text header-style__logo__text--inside') AG
        div(class='col-9 col-sm-10 col-md-11 pl-0')  
          div(class="header-style__heading")
            h1(class='header-style__text')= message
    nav(class='row')
        div(class='col-12 text-center')
          ul
            li a
            li a
            li a
            li a
    main(class='row')
      section(class='col-7 bg-yellow')
        p Some text
        p Some text
        p Some text
      aside(class='col-5 bg-red')
        p Some text
        p Some text
        p Some text